/* banner */
.banner {
    background: url(".././images/banner-distribuidores.jpg") no-repeat center;
    background-size: cover;
    padding: 2rem 1.25rem;
    color: var(--branco);
    text-align: center;
}
.banner * {
    margin-bottom: 1rem;
}
.banner > h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}
.banner > blockquote > p::after,
.banner > blockquote > p::before {
    content: '';
    display: block;
    margin: .375rem auto;
    width: 30%;
    height: 2px;
    background-color: var(--branco);
}
.banner .banner-span-hash {
    margin-left: 2px;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 1px var(--preto);
}
.banner .banner-span-text {
    color: var(--cor);
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--preto);
}
.banner > blockquote > cite {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1rem;    
}
