/* banner */
.banner {
    background: url(".././images/banner-distribuidores.jpg") no-repeat center;
}
.distribuidores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.distribuidores-card > ul > li {
    margin-bottom: .25rem;
}
.distribuidores-card > ul > li:last-child {
    text-align: center;
}
.distribuidores-card > ul > li > a {
    font-style: italic;
    margin: 0 auto;
    text-shadow: .1px .1px var(--color);
}
.distribuidores-container {
    width: 100%;
}
.distribuidores-img {
    float: left;
    line-height: 0;
    margin-right: 1rem;
}
.distribuidores-item {
    background-color: #101010;
    border-bottom: 1px solid var(--branco);
    border-top: 1px solid var(--branco);
    height: 152px;
    margin-bottom: 1.5rem;
    width: 100%;    
}
.distribuidores-title {
    font-size: 1.25rem;
    margin: .5rem;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
    .distribuidores-container {
        width: 600px;
    }
    .distribuidores-item {
        border-left: 1px solid var(--branco);
        border-right: 1px solid var(--branco);
    }    
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 960px) {}

@media only screen and (min-width: 1280px) {}

