:root {
    --preto: #000;
    --preto2: rgba(0,0,0,.925);
    --branco: #fff;
    --cinza: #605959;
    --cor: #ff4747;
}
/* H E A D E R */
.top-header {
    width: 100%;
    height: 52px;
    background-color: var(--preto);
    text-align: center;
}
.top-header .fa-bars {
    position: absolute;
    top: 0;
    left: 0;
}
.top-header > * {
    padding: 10px 15px;
}
.main-menu { 
    background-color: var(--preto);
    height: 100%;
    left: -70%;
    position: fixed;
    text-align: center;
    top: 0;
    transition: left .15s ease-in, box-shadow .3s ease-out;
    z-index: 1;
    width: 65%;
 }
 .main-menu.active {
    left: 0;
    box-shadow: 0 0 0 9999px rgba(0,0,0,.75);
 }
.main-menu-links { 
    padding: .75rem 1.5rem;
 }
 .main-menu-links > li {
    border-bottom: 1px solid var(--cor);
    font-weight: bold;
    letter-spacing: .1rem;
    line-height: 3rem;
    text-transform: uppercase;
 }
 .main-menu-links > img {
    margin-top: 2rem;
 }

/* M  A  I  N */
.btn {
    background-color: transparent;
    border: .1rem solid var(--branco);
    border-radius: .25rem;
    color: var(--branco);
    cursor: pointer;
    display: inline-block;
    margin: 1rem auto;
    padding: .375rem .75rem;
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.container {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.mini-title {
    margin: 0 .5rem 1rem .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.mini-title::before {
    content: '';
    display: inline-block;
    margin-left: 1rem;
    margin-right: .5rem;
    width: .25rem;
    height: 1.2rem;
    background: var(--cor);
}
.pd-05-20 {
    padding: .5rem 2rem;
}
.pd-20-25 {
    padding: 2rem 2.5rem;
}
.responsive {
    max-width: 100%;
}
.sub-title {
    margin: 0 .75rem 1.5rem .75rem;
    font-size: 1.75rem;
    text-transform: uppercase;
}
.sub-title::before {
    content: '';
    display: inline-block;
    margin-right: .75rem;
    width: .4rem;
    height: 1.3rem;
    background: var(--cor);
}
.sub-title::after {
    content: url('../images/shisha-branco.png');
    margin-right: 10px;
    float: right;
}
.secao {
    padding: 2rem 0;
}
.secao:nth-child(odd) {
    background-color: var(--preto2);
}
.secao:nth-child(even) {
    background-color: var(--preto);
}
.secao p {
    padding: .5rem 2rem;
    text-align: justify;
}

/* F O O T E R */
.main-footer {
    background-color: var(--cinza);
    padding: 2rem 2.5rem;
}
.main-footer > div + div {
    margin-top: 2rem;
}
.main-footer-list > li + li {
    margin-top: .5rem;
}
.main-footer-list > li::before {
    content: '-';
    display: inline-block;
    margin-right: 1rem;
}
.main-footer-list > li > a {
    text-decoration: underline solid var(--branco);
}
.main-footer-logo {
    display: none;
}
.main-footer-link > img + img {
    display: none;
}
/* .main-footer-link > img:first-child {
    position: absolute;
    transition: opacity .8s ease;
}
.main-footer-link:hover > img:first-child {
    opacity: 0;
} */
.rodape {
    margin: 0;
    padding: 10px;
    background-color: var(--preto);
    font-size: .75rem;
    text-align: center;
}
.footer-headline {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
.footer-headline::after {
    content: '';
    display: block;
    margin: .5rem auto 2rem auto;
    width: 50%;
    height: 4px;
    background: var(--cor);
}






























